<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleDetail}">
    </title></head>
<body>
<!--<h1><p th:text="${spam}"></p></h1>-->
<nav th:insert="fragments/lang"></nav>

<h2 th:text="#{titleDetail}"></h2>
<table>
    <tr>
        <td style="font-weight:bold" th:text="#{nameField}"></td>
        <td style="font-weight:bold" th:text="#{dateField}"></td>
        <td style="font-weight:bold" th:text="#{descField}"></td>
    </tr>
        <tr>
            <td th:text="${task.name}">...</td>

            <td th:text="${task.dateTime}">...</td>


            <td th:text="${task.desc}">...</td>
        </tr>

</table>
<a th:href="@{'/tasks/edit/' + ${task.id}}" th:text="#{edit}" sec:authorize="hasAuthority('ADMIN')"></a>

<br>
<h2>Subtasks</h2>
<table>
    <tr>
        <td style="font-weight:bold"  th:text="#{nameField}"></td>
        <td style="font-weight:bold" th:text="#{descField}"></td>
    </tr>
    <th:block th:each="subtasks : ${task.subTasks}">
        <tr>
            <td th:text="${subtasks.name}">...</td>


            <td th:text="${subtasks.desc}">...</td>
        </tr>

    </th:block>
</table>


<a th:href="@{'/tasks/' + ${task.id} + '/sub/create'}" th:text="#{subadd}" sec:authorize="hasAuthority('ADMIN')"></a>




<!--<form action="/tasks/new" method="post">-->
<!--<label for="name">First name:</label><br>-->
<!--<input type="text" id="name" name="name" value="name"><br>-->
<!--<label for="dateTime">time and date:</label><br>-->
<!--<input type="datetime-local" id="dateTime" name="dateTime" value="dateTime"><br><br>-->
<!--<label for="desc">description:</label><br>-->
<!--<input type="text" id="desc" name="desc" value="desc"><br><br>-->
<!--<input type="submit" value="Add">-->
<!--</form>-->

<p>  <a href="/tasks" th:text="#{backtolist}"></a> </p>



</body>


</html>