<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{titleTasks}" >Title</title>
</head>
<body>
<nav th:insert="fragments/lang"></nav>

<!--<h1><p th:text="${spam}"></p></h1>-->

<h2  th:text="#{titleTasks}" ></h2>
<table>
    <tr>
        <td style="font-weight:bold"  th:text="#{nameField}"></td>
        <td style="font-weight:bold"  th:text="#{dateField}"></td>
        <td style="font-weight:bold"  th:text="#{descField}"></td>
    </tr>
    <th:block th:each="task : ${tasks}">
        <tr>
            <td th:text="${task.name}">...</td>

            <td th:text="${task.dateTime}">...</td>


            <td th:text="${task.desc}">...</td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/tasks/' + ${task.id}}" th:text="#{details}"></a>
            </td>
        </tr>
        <tr>
            <td>
                <a th:href="@{'/tasks/edit/' + ${task.id}}" th:text="#{edit}" sec:authorize="hasAuthority('ADMIN')"></a>
            </td>
        </tr>

    </th:block>
</table>


<!--<form action="/tasks/new" method="post">-->
    <!--<label for="name">First name:</label><br>-->
    <!--<input type="text" id="name" name="name" value="name"><br>-->
    <!--<label for="dateTime">time and date:</label><br>-->
    <!--<input type="datetime-local" id="dateTime" name="dateTime" value="dateTime"><br><br>-->
    <!--<label for="desc">description:</label><br>-->
    <!--<input type="text" id="desc" name="desc" value="desc"><br><br>-->
    <!--<input type="submit" value="Add">-->
<!--</form>-->

<p>  <a href="/tasks/new" th:text="#{newTask}" sec:authorize="hasAuthority('ADMIN')"></a> </p>
</body>


</html>